# Pandas Selection

In [1]:
import pandas as pd

### Step 2. This is the data given as a dictionary

In [2]:
# Create an example dataframe about a fictional army
raw_data = {
    "regiment": [
        "Nighthawks",
        "Nighthawks",
        "Nighthawks",
        "Nighthawks",
        "Dragoons",
        "Dragoons",
        "Dragoons",
        "Dragoons",
        "Scouts",
        "Scouts",
        "Scouts",
        "Scouts",
    ],
    "company": [
        "1st",
        "1st",
        "2nd",
        "2nd",
        "1st",
        "1st",
        "2nd",
        "2nd",
        "1st",
        "1st",
        "2nd",
        "2nd",
    ],
    "deaths": [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
    "battles": [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
    "size": [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
    "veterans": [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
    "readiness": [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
    "armored": [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
    "deserters": [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
    "origin": [
        "Arizona",
        "California",
        "Texas",
        "Florida",
        "Maine",
        "Iowa",
        "Alaska",
        "Washington",
        "Oregon",
        "Wyoming",
        "Louisana",
        "Georgia",
    ],
}

### Step 3. Create a dataframe and assign it to a variable called army. 

#### Don't forget to include the columns names in the order presented in the dictionary ('regiment', 'company', 'deaths'...) so that the column index order is consistent with the solutions. If omitted, pandas will order the columns alphabetically.

In [4]:
army = pd.DataFrame(raw_data)
army

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters,origin
0,Nighthawks,1st,523,5,1045,1,1,1,4,Arizona
1,Nighthawks,1st,52,42,957,5,2,0,24,California
2,Nighthawks,2nd,25,2,1099,62,3,1,31,Texas
3,Nighthawks,2nd,616,2,1400,26,3,1,2,Florida
4,Dragoons,1st,43,4,1592,73,2,0,3,Maine
5,Dragoons,1st,234,7,1006,37,1,1,4,Iowa
6,Dragoons,2nd,523,8,987,949,2,0,24,Alaska
7,Dragoons,2nd,62,3,849,48,3,1,31,Washington
8,Scouts,1st,62,4,973,48,2,0,2,Oregon
9,Scouts,1st,73,7,1005,435,1,0,3,Wyoming
10,Scouts,2nd,37,8,1099,63,2,1,2,Louisana
11,Scouts,2nd,35,9,1523,345,3,1,3,Georgia

### Step 4. Set the 'origin' colum as the index of the dataframe

In [5]:
army.set_index("origin", inplace=True)
army

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters
origin,,,,,,,,,
Arizona,Nighthawks,1st,523,5,1045,1,1,1,4
California,Nighthawks,1st,52,42,957,5,2,0,24
Texas,Nighthawks,2nd,25,2,1099,62,3,1,31
Florida,Nighthawks,2nd,616,2,1400,26,3,1,2
Maine,Dragoons,1st,43,4,1592,73,2,0,3
Iowa,Dragoons,1st,234,7,1006,37,1,1,4
Alaska,Dragoons,2nd,523,8,987,949,2,0,24
Washington,Dragoons,2nd,62,3,849,48,3,1,31
Oregon,Scouts,1st,62,4,973,48,2,0,2
Wyoming,Scouts,1st,73,7,1005,435,1,0,3
Louisana,Scouts,2nd,37,8,1099,63,2,1,2
Georgia,Scouts,2nd,35,9,1523,345,3,1,3

### Step 5. Print only the column veterans

In [6]:
army.veterans

origin
Arizona         1
California      5
Texas          62
Florida        26
Maine          73
Iowa           37
Alaska        949
Washington     48
Oregon         48
Wyoming       435
Louisana       63
Georgia       345
Name: veterans, dtype: int64

### Step 6. Print the columns 'veterans' and 'deaths'

In [7]:
army[["veterans", "deaths"]]

            veterans  deaths
origin
Arizona            1     523
California         5      52
Texas             62      25
Florida           26     616
Maine             73      43
Iowa              37     234
Alaska           949     523
Washington        48      62
Oregon            48      62
Wyoming          435      73
Louisana          63      37
Georgia          345      35

### Step 7. Print the name of all the columns.

In [9]:
army.columns

Index(['regiment', 'company', 'deaths', 'battles', 'size', 'veterans',
       'readiness', 'armored', 'deserters'],
      dtype='object')

### Step 8. Select the 'deaths', 'size' and 'deserters' columns from Maine and Alaska

In [18]:
army.loc[["Maine", "Alaska"], ["deaths", "size", "deserters"]]

        deaths  size  deserters
origin
Maine       43  1592          3
Alaska     523   987         24

### Step 9. Select the rows 3 to 7 and the columns 3 to 6

In [25]:
index_list = list(army.index)
print(index_list)
index_list[3:7]

['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']

['Florida', 'Maine', 'Iowa', 'Alaska']

In [26]:
army

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters
origin,,,,,,,,,
Arizona,Nighthawks,1st,523,5,1045,1,1,1,4
California,Nighthawks,1st,52,42,957,5,2,0,24
Texas,Nighthawks,2nd,25,2,1099,62,3,1,31
Florida,Nighthawks,2nd,616,2,1400,26,3,1,2
Maine,Dragoons,1st,43,4,1592,73,2,0,3
Iowa,Dragoons,1st,234,7,1006,37,1,1,4
Alaska,Dragoons,2nd,523,8,987,949,2,0,24
Washington,Dragoons,2nd,62,3,849,48,3,1,31
Oregon,Scouts,1st,62,4,973,48,2,0,2
Wyoming,Scouts,1st,73,7,1005,435,1,0,3
Louisana,Scouts,2nd,37,8,1099,63,2,1,2
Georgia,Scouts,2nd,35,9,1523,345,3,1,3

In [21]:
army.iloc[3:7, 3:6]

         battles  size  veterans
origin
Florida        2  1400        26
Maine          4  1592        73
Iowa           7  1006        37
Alaska         8   987       949

### Step 10. Select every row after the fourth row and all columns

In [32]:
army.iloc[4:]

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters
origin,,,,,,,,,
Maine,Dragoons,1st,43,4,1592,73,2,0,3
Iowa,Dragoons,1st,234,7,1006,37,1,1,4
Alaska,Dragoons,2nd,523,8,987,949,2,0,24
Washington,Dragoons,2nd,62,3,849,48,3,1,31
Oregon,Scouts,1st,62,4,973,48,2,0,2
Wyoming,Scouts,1st,73,7,1005,435,1,0,3
Louisana,Scouts,2nd,37,8,1099,63,2,1,2
Georgia,Scouts,2nd,35,9,1523,345,3,1,3

### Step 11. Select every row up to the 4th row and all columns

In [33]:
army.iloc[:4]

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters
origin,,,,,,,,,
Arizona,Nighthawks,1st,523,5,1045,1,1,1,4
California,Nighthawks,1st,52,42,957,5,2,0,24
Texas,Nighthawks,2nd,25,2,1099,62,3,1,31
Florida,Nighthawks,2nd,616,2,1400,26,3,1,2

### Step 12. Select the 3rd column up to the 7th column

In [34]:
army.iloc[:, 3:7]

            battles  size  veterans  readiness
origin
Arizona           5  1045         1          1
California       42   957         5          2
Texas             2  1099        62          3
Florida           2  1400        26          3
Maine             4  1592        73          2
Iowa              7  1006        37          1
Alaska            8   987       949          2
Washington        3   849        48          3
Oregon            4   973        48          2
Wyoming           7  1005       435          1
Louisana          8  1099        63          2
Georgia           9  1523       345          3

### Step 13. Select rows where df.deaths is greater than 50

In [36]:
army.deaths > 50

origin
Arizona        True
California     True
Texas         False
Florida        True
Maine         False
Iowa           True
Alaska         True
Washington     True
Oregon         True
Wyoming        True
Louisana      False
Georgia       False
Name: deaths, dtype: bool

In [37]:
army[army.deaths > 50]

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters
origin,,,,,,,,,
Arizona,Nighthawks,1st,523,5,1045,1,1,1,4
California,Nighthawks,1st,52,42,957,5,2,0,24
Florida,Nighthawks,2nd,616,2,1400,26,3,1,2
Iowa,Dragoons,1st,234,7,1006,37,1,1,4
Alaska,Dragoons,2nd,523,8,987,949,2,0,24
Washington,Dragoons,2nd,62,3,849,48,3,1,31
Oregon,Scouts,1st,62,4,973,48,2,0,2
Wyoming,Scouts,1st,73,7,1005,435,1,0,3

### Step 14. Select rows where df.deaths is greater than 500 or less than 50

In [38]:
army.deaths > 500

origin
Arizona        True
California    False
Texas         False
Florida        True
Maine         False
Iowa          False
Alaska         True
Washington    False
Oregon        False
Wyoming       False
Louisana      False
Georgia       False
Name: deaths, dtype: bool

In [39]:
army.deaths < 50

origin
Arizona       False
California    False
Texas          True
Florida       False
Maine          True
Iowa          False
Alaska        False
Washington    False
Oregon        False
Wyoming       False
Louisana       True
Georgia        True
Name: deaths, dtype: bool

In [40]:
False | True

True

In [41]:
pd.Series([True, False]) | pd.Series([False, False])

0     True
1    False
dtype: bool

In [42]:
army[(army.deaths > 500) | (army.deaths < 50)]

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters
origin,,,,,,,,,
Arizona,Nighthawks,1st,523,5,1045,1,1,1,4
Texas,Nighthawks,2nd,25,2,1099,62,3,1,31
Florida,Nighthawks,2nd,616,2,1400,26,3,1,2
Maine,Dragoons,1st,43,4,1592,73,2,0,3
Alaska,Dragoons,2nd,523,8,987,949,2,0,24
Louisana,Scouts,2nd,37,8,1099,63,2,1,2
Georgia,Scouts,2nd,35,9,1523,345,3,1,3

### Step 15. Select all the regiments not named "Dragoons"

In [43]:
army[army.regiment != "Dragoons"]

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters
origin,,,,,,,,,
Arizona,Nighthawks,1st,523,5,1045,1,1,1,4
California,Nighthawks,1st,52,42,957,5,2,0,24
Texas,Nighthawks,2nd,25,2,1099,62,3,1,31
Florida,Nighthawks,2nd,616,2,1400,26,3,1,2
Oregon,Scouts,1st,62,4,973,48,2,0,2
Wyoming,Scouts,1st,73,7,1005,435,1,0,3
Louisana,Scouts,2nd,37,8,1099,63,2,1,2
Georgia,Scouts,2nd,35,9,1523,345,3,1,3

### Step 16. Select the rows called Texas and Arizona

In [44]:
army.loc[["Texas", "Arizona"]]

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters
origin,,,,,,,,,
Texas,Nighthawks,2nd,25,2,1099,62,3,1,31
Arizona,Nighthawks,1st,523,5,1045,1,1,1,4

### Step 17. Select the third cell in the row named Arizona

In [48]:
army.loc["Arizona"]

regiment     Nighthawks
company             1st
deaths              523
battles               5
size               1045
veterans              1
readiness             1
armored               1
deserters             4
Name: Arizona, dtype: object

In [50]:
army.loc["Arizona"][3]

/tmp/ipykernel_295028/591367592.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  army.loc["Arizona"][3]

np.int64(5)

In [51]:
army.loc["Arizona"].iloc[3]

np.int64(5)

### Step 18. Select the third cell down in the column named deaths

In [52]:
army.deaths[-3]

/tmp/ipykernel_295028/209010656.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  army.deaths[-3]

np.int64(73)

In [53]:
army.deaths.iloc[-3]

np.int64(73)

In [54]:
army

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters
origin,,,,,,,,,
Arizona,Nighthawks,1st,523,5,1045,1,1,1,4
California,Nighthawks,1st,52,42,957,5,2,0,24
Texas,Nighthawks,2nd,25,2,1099,62,3,1,31
Florida,Nighthawks,2nd,616,2,1400,26,3,1,2
Maine,Dragoons,1st,43,4,1592,73,2,0,3
Iowa,Dragoons,1st,234,7,1006,37,1,1,4
Alaska,Dragoons,2nd,523,8,987,949,2,0,24
Washington,Dragoons,2nd,62,3,849,48,3,1,31
Oregon,Scouts,1st,62,4,973,48,2,0,2
Wyoming,Scouts,1st,73,7,1005,435,1,0,3
Louisana,Scouts,2nd,37,8,1099,63,2,1,2
Georgia,Scouts,2nd,35,9,1523,345,3,1,3

## Sankey diagram
Let's look at the documentation to make a Sankey Diagram

<https://plotly.com/python/sankey-diagram/>

In [55]:
import plotly.graph_objects as go

In [56]:
# Prepare data for Sankey diagram
# We need to create a flow from origin -> regiment -> company

# First, let's look at the data structure
print("Data shape:", army.shape)
print("\nUnique values:")
print("Origins:", army.index.unique())
print("Regiments:", army.regiment.unique())
print("Companies:", army.company.unique())

Data shape: (12, 9)

Unique values:
Origins: Index(['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska',
       'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia'],
      dtype='object', name='origin')
Regiments: ['Nighthawks' 'Dragoons' 'Scouts']
Companies: ['1st' '2nd']

In [57]:
# Create the Sankey diagram data
# We'll create flows: origin -> regiment -> company

# Get all unique values for each level
origins = army.index.unique().tolist()
regiments = army.regiment.unique().tolist()
companies = army.company.unique().tolist()

# Create node labels (all unique values)
all_nodes = origins + regiments + companies

# Create node indices
node_indices = {node: i for i, node in enumerate(all_nodes)}

# Create source and target lists for the flows
sources = []
targets = []
values = []

# Flow 1: Origin -> Regiment
for origin in origins:
    origin_idx = node_indices[origin]
    for regiment in regiments:
        regiment_idx = node_indices[regiment]
        # Sum the army size from this origin in this regiment
        size_sum = army[(army.index == origin) & (army.regiment == regiment)][
            "size"
        ].sum()
        if size_sum > 0:
            sources.append(origin_idx)
            targets.append(regiment_idx)
            values.append(size_sum)

# Flow 2: Regiment -> Company
for regiment in regiments:
    regiment_idx = node_indices[regiment]
    for company in companies:
        company_idx = node_indices[company]
        # Sum the army size from this regiment in this company
        size_sum = army[(army.regiment == regiment) & (army.company == company)][
            "size"
        ].sum()
        if size_sum > 0:
            sources.append(regiment_idx)
            targets.append(company_idx)
            values.append(size_sum)

print(f"Number of nodes: {len(all_nodes)}")
print(f"Number of flows: {len(sources)}")
print(f"Total flow value: {sum(values)}")

Number of nodes: 17
Number of flows: 18
Total flow value: 27070

In [61]:
# Create the Sankey diagram
fig = go.Figure(
    data=[
        go.Sankey(
            node=dict(
                pad=15,
                thickness=20,
                line=dict(color="black", width=0.5),
                label=all_nodes,
                color="lightblue",
            ),
            link=dict(
                source=sources, target=targets, value=values, color="rgba(0,0,255,0.2)"
            ),
        )
    ]
)

fig.update_layout(
    title_text="Army Distribution by Size: Origin  Regiment  Company",
    font_size=12,
    width=1000,
    height=600,
)

fig.show()