# Fictitious Names

In [ ]:
import pandas as pd

### Step 2. Create the 3 DataFrames based on the following raw data

In [ ]:
raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

raw_data_2 = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan'],
        'acronym': ['BO', 'BL', 'BA', 'BR', 'BT']
                }

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

### Step 3. Assign each to a variable called data1, data2, data3

In [ ]:
data1 = pd.DataFrame(raw_data_1)
data2 = pd.DataFrame(raw_data_2)
data3 = pd.DataFrame(raw_data_3)

data1

In [ ]:
data2

In [ ]:
data3

### Step 4. Join the two dataframes along rows and assign all_data

In [ ]:
all_data = pd.concat([data1,data2], axis=1)
all_data

In [ ]:
data1

In [ ]:
data2

In [ ]:
df = pd.merge(left=data1, right=data2, on='subject_id', how='outer')
df

### Step 5. Join the two dataframes along columns and assing to all_data_col

In [ ]:
all_data_col = pd.concat(objs=[data1,data2], axis=0)
all_data_col

In [ ]:
pd.concat(objs=[data1,data2,data3], axis=1)

In [ ]:
all_data_col.reset_index(inplace=True, drop=True)

In [ ]:
all_data_col

In [ ]:
all_data_col = all_data_col.reset_index(drop=True)
all_data_col

In [ ]:
# all_data_col = all_data_col.reset_index(inplace=True, drop=True)
# all_data_col

In [ ]:
type(all_data_col)

### Step 6. Print data3

In [ ]:
data3

### Step 7. Merge all_data and data3 along the subject_id value

In [ ]:
all_data_col

In [ ]:
data3

In [ ]:
pd.merge(left=all_data_col, right=data3, on='subject_id', how='left')

In [ ]:
pd.merge(left=all_data_col, right=data3, on='subject_id', how='right')

In [ ]:
pd.merge(left=data3, right=all_data_col, on='subject_id', how='left')

In [ ]:
pd.merge(left=all_data_col, right=data3, on='subject_id', how='outer')

In [ ]:
pd.merge(left=all_data_col, right=data3, on='subject_id', how='inner')

### Step 8. Merge only the data that has the same 'subject_id' on both data1 and data2

In [ ]:
pd.merge(left=data1,right=data2,on='subject_id',how='inner')

### Step 9. Merge all values in data1 and data2, with matching records from both sides where available.

In [ ]:
pd.merge(left=data1,right=data2,on='subject_id',how='outer')